header.header 
  .header__logo
    a.header__logoLink(href="#/")
      span FDR
  nav.header__menu
    a(
      class=[
        "header__menuItem",
        "show-for-large-only"
      ]
      href="#/"
    )
     | Products
    a(
      class=[
        "header__menuItem",
        "show-for-large-only"
      ]
      href="#/"
    )
      | Music
    a(
      class=[
        "header__menuItem",
        "show-for-large-only"
      ]
      href="#/"
    )
      | Play
    a(
      class=[
        "header__menuItem",
        "show-for-large-only"
      ]
      href="#/"
    )
      | Connect
    button.header__menuIcon(
      class=[
        "menu-icon",
        "hide-for-large"
      ]
      type="button"
    ) 