div
  h5 Products

  ul
    li 
      input(
        id="checkboxAll"
        name="checkboxAll"
        type="checkbox"
        ng-model="all"
      )
      label(for="checkboxAll") All Products

    li 
      input(
        id="checkboxGuitars"
        name="checkboxGuitars"
        type="checkbox"
        ng-model="guitars"
      )
      label(for="checkboxGuitars") Guitars

    li 
      input(
        id="checkboxAmericanStandard"
        name="checkboxAmericanStandard"
        type="checkbox"
        ng-model="american_standard"
      )
      label(for="checkboxAmericanStandard") American Standard

    li 
      input(
        id="checkboxGuitarBassParts"
        name="checkboxGuitarBassParts"
        type="checkbox"
        ng-model="guitar_and_bass_parts"
      )
      label(for="checkboxGuitarBassParts") Guitar and Base Parts

    li 
      input(
        id="checkboxGuitarBassParts"
        name="checkboxGuitarBassParts"
        type="checkbox"
        ng-model="knobs_kits_pickup_covers"
      )
      label(for="checkboxGuitarBassParts") Knobs Kits Pickup Covers

    li 
      input(
        id="checkboxClassic"
        name="checkboxClassic"
        type="checkbox"
        ng-model="classic"
      )
      label(for="checkboxClassic") Classic

    li 
      input(
        id="checkboxPickguardsBackplates"
        name="checkboxPickguardsBackplates"
        type="checkbox"
        ng-model="pickguards_backplates"
      )
      label(for="checkboxPickguardsBackplates") Pickguards Backplates

    li 
      input(
        id="checkboxVintageModifiedModels"
        name="checkboxVintageModifiedModels"
        type="checkbox"
        ng-model="vintage_modified_models"
      )
      label(for="checkboxVintageModifiedModels") Vintage Modified Models

    li 
      input(
        id="checkboxMiscellaneousParts"
        name="checkboxMiscellaneousParts"
        type="checkbox"
        ng-model="miscellaneous_parts"
      )
      label(for="checkboxMiscellaneousParts") Miscellaneous Parts
